/* @import url("https://fonts.googleapis.com/css?family=Vibur&display=swap"); */

:root {
  --grid: 8px;
  --greyLight: #515b7d;
  --black: #1d212e;
  --borderWidth: 4px;
  --borderRadius: 8px;
}

body {
  /* background: var(--black);
  font-family: "Vibur", cursive;
  user-select: none; */
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
.app {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.columns {
  display: flex;
}

.column {
  margin: calc(var(--grid) / 2);
  /* border: var(--borderWidth) solid #0ff0fc; */
  /* border: 0.5px solid gray; */
  border-radius: var(--borderRadius);
  background-color: white;
  user-select: none;
}

.task-list {
  /* this has no visible impact, but is in line with the absolute position spacing.
  doing this ensures that dropping into an empty list will be in the correct visual position */
  padding-left: var(--grid);
  padding-right: var(--grid);
  scrollbar-color: dark;
}

.task-list::-webkit-scrollbar-track {
  background-color: var(--greyLight);
  border-radius: var(--borderRadius);
}

.item {
  padding: 8px;
  cursor: grab;
}

.item.is-dragging {
  box-shadow: 1px 1px 1px gray;
}

#columns-container {
  display: flex;
  gap: 4;
}

#create-column-container {
  width: 225px;
  padding-top: 4px;
}

