/* @import url("https://fonts.googleapis.com/css?family=Vibur&display=swap"); */

:root {
  --grid: 8px;
  --borderRadius: 8px;
}


#columns-container {
  display: flex;
  gap: 4;
}

.columns {
  display: flex;
}

.column {
  margin: calc(var(--grid) / 2);
  border: 0.5px solid lightgray;
  border-radius: var(--borderRadius);
  background-color: white;
  user-select: none;
}

.task-list {
  /* this has no visible impact, but is in line with the absolute position spacing.
  doing this ensures that dropping into an empty list will be in the correct visual position */
  padding-left: var(--grid);
  padding-right: var(--grid);
  scrollbar-width: thin;
}

#create-column-container {
  width: 225px;
  padding-top: 4px;
}

.item {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 4px;
  cursor: grab;
}

.item:hover {
  background-color: #ececec; 
  /* transition: background-color 0.3s ease-in-out; */
}

.item.is-dragging {
  box-shadow: 1px 1px 1px lightgray;
  background-color: #ececec; 
}

